.vscode
Part1/.vscode
Part1/*/.vscode
Part1/*/Compiled
Part1/game-server
Part1/astronaut-client
Part1/outer-space-display
Part2/astronaut-client
Part2/game-server
Part2/outer-space-display
Part2/*/Compiled
